@charset "utf-8";
body {
	background-color:#cccccc;	
}
.Content {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 99%;
	margin-right: auto;
	margin-left: auto;
	border-style:solid;
	border-color:#064070;
	text-align:center;
	background-color:#FFFFFF;
}

.Header {	
	background-color: #FFEE00;
	text-align: center;
}

.Header img{
	float:left;
	max-height:50px;
	width:auto;
	padding-left:1.5%;
	padding-top:1.5%;
}

.MainTitle {
	font-weight: bold;
	font-size: 200%;
	padding-bottom: 1%;
	padding-top: 2.5%;
	color: #0066bf;
    	text-shadow: -0.5px 0px black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black; /* Outline*/
}

.URLbar {
	list-style-type: none;
	margin: 0px;
	padding: 1%;
	overflow:auto;
	background-color:#0088FF;
}

.Links {
	font-weight: bold;
	float: left;
	width: 20%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;	
}

.Links a:link {
	color:#FFFFFF;	
	text-decoration:none;	
	margin-right: auto;
	margin-left: auto;
}

.Links a:visited {
	color:#FFFFFF;
}

.Links a:hover {
	color:#5E5E5E;
}

.Content p {
	padding:1%;
	font-weight:bold;
}

.DogPhotos img {
	height:auto;
	width:20%;
	padding:0.5%;
}

.IndividualDogPhoto img{
	height:auto;
	max-width:50%;
	padding:2%;
}

.LoginTitle{
	font-size:150%;
	font-weight:heavy;
	margin:0.5%;
	margin-top:2%;
}
 
.Login{
	padding:1%;
}

.LoginField{
	margin-bottom:0.5%;
}

.LoginButton{	
	padding:0.2%;	
	margin-top:0.5%;
}

.NewPasswordButton{
	padding:0.2%;
	font-weight:heavy;
	margin:1%;
	margin-top:1%;
}

.NewAccountButton{
	padding:0.2%;
	font-weight:heavy;
	margin:1%;
	margin-top:1%;
}

.AddAnimalButton{
	padding:0.3%;
	font-size:150%;
	margin:2%;	
	margin-top:3%;
}

.Footer {
	padding: 5px;
	background-color: #FFEE00;
	text-decoration:none;
} 

.LoggedIn{
	float:left;
	padding-left:1%;
	padding-bottom:0.5%;
}

.CreateAccount{
	height:75%;
	width: 50%;
	margin:5%;
	padding:1%;
	margin-right: auto;
	margin-left: auto;
	border-style:solid;
	border-color:#064070;
	text-align:left;
	background-color:#D3D3D3;
}

.warning {
	text-align:right;	
	padding-right:1%;
	padding-bottom:0.5%;
}

.Footer a:link{
	text-decoration:none;
	color:#0066bf;
}

.Footer a:visited {
	color:#0066bf;
}

.Footer a:hover {
	color:#000000;
}
