#top {
background-color: #A56CFF;
margin-top: -15px;
margin-left: -3px;
margin-bottom: -10px;
padding-top: 30px;
padding-left:30px;
padding-right:100px;
height: 100px;
font-family: 'Lato'; font-weight: 700;
text-align:center;
min-width:500px;
}
#top img{
float: left;
}
#top h1{
padding-left: 100px;
}
#navbar {
display: block;
background-color: #0088FF;
margin-top: -15px;
margin-left: -3px;
margin-bottom: -10px;
text-align:center;
height: 30px;
padding-top:10px;
min-width:550px;
}

#navbar a {
padding-left: 20px;
padding-right: 20px;
color: black;
}

#navbar a:link {
    text-decoration: none;
}

body {
background-color: #cccccc;
}

.animals {
min-width: 300px;
padding-top:10px;
margin-top: 50px;
width: 100%;
height: 100px;
background-color: #FF8D00;
}

.animals img{
padding-top:10px;
padding-left: 20px;
float: left;
}

.animals a {
padding-top: 40px;
padding-right: 50%;
color:black;
text-decoration: none;
float:right;
}

.animals a:visited{
text-decoration: none;
color:black;
}

.animalpage {
min-width: 400px;
padding-top:10px;
margin-top: 25px;
margin-bottom: 50px;
width: 100%;
height: 100px;
background-color: #8D8D8D;
}

.animalpage img{
padding-top:10px;
padding-left: 20px;
float: left;
}

#animalpage a{
padding-top: 40px;
padding-right: 40%;
color: #933a00;
text-decoration: none;
float:right;
}

#animalpage a:visited{
text-decoration: none;
color:#933a00;
}
 #loginform{
 margin-top:100px;
 text-align:center;
 }

#aboutus{
padding-top: 100px;
text-align:center;
}

#homebody{
padding-top:100px;
text-align:center;
}

#theanimalsbody{

padding-top:100px;
}
