#top {
background-color: #A56CFF;
margin-top: -15px;
margin-left: -3px;
margin-bottom: -10px;
font-family: 'Lato', Ultra Bold; font-weight: 700;
text-align:center;
}

#navbar {
display: block;
background-color: #0088FF;
margin-top: -15px;
margin-left: -3px;
margin-bottom: -10px;
text-align:center;
height: 30px;
padding-top:10px;
}
#navbar a {
padding-left: 20px;
padding-right: 20px;
color: white;
}

body {
background-color: white;
}

#animals {
min-width: 300px;
padding-top:10px;
margin-top: 50px;
width: 100%;
height: 100px;
background-color: #FF8D00;
}

#animals img{
padding-top:10px;
padding-left: 20px;
float: left;
}

#animals a{
padding-top: 40px;
padding-right: 50%;
color:Black;
text-decoration: none;
float:right;
}

#animals a:visited{
text-decoration: none;
color:black;
}

#dogpage{
min-width: 400px;
padding-top:10px;
margin-top: 25px;
margin-bottom: 50px;
width: 100%;
height: 100px;
background-color: #8D8D8D;
}

#dogpage img{
padding-top:10px;
padding-left: 20px;
float: left;
}

#dogpage a{
padding-top: 40px;
padding-right: 40%;
color: #FF9716;
text-decoration: none;
float:right;
}

#dogpage a:visited{
text-decoration: none;
color:#FF9716;
}